[MESSAGES CONTROL]
# R0022 is needed because we have to handles different pytest versions with different method prototypes
# E0401 (import-error) because we need custom sys.path 
# C0413 (wrong-import-position) because sometime the sys.path must be set before the import
disable=R0022,E0401,C0413

[MAIN]
recursive=yes
# Lets avoid some no-member false positive about ldap constants
ignored-modules=ldap

[FORMAT]
max-attributes=11
max-line-length=130
ignore-long-lines=^\s.*Option.*$
method-naming-style=camelCase
max-module-lines=3000
ignore-patterns = ^\\.#,^.*/doc_fragments/.*#

[DESIGN]
max-returns=8


[BASIC]

bad-names=
    _,
    bar,
    baz,
    foo,
    tata,
    toto,
    tutu,

good-names=
    __metaclass__,
    C,
    ex,
    i,
    j,
    k,
    Run,

class-attribute-rgx=[A-Za-z_][A-Za-z0-9_]{1,40}$
attr-rgx=[a-z_][a-z0-9_]{1,40}$
method-rgx=[a-z_][a-z0-9_]{1,40}$
function-rgx=[a-z_][a-z0-9_]{1,40}$
module-rgx=[a-z_][a-z0-9_-]{2,40}$

# pylint --generate-rcfile
# pylint --help
